#player {
  background-color: rgba(0, 0, 0, 0.5);
  /*height: 587px;*/
  height: 455px;
  width: 318px;
  position: absolute;
}

#player > div {
  background-color: darkgray;
  width: 302px;
  margin: 6px;
  margin-left: auto;
  margin-right: auto;
}

#perk, #primary {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 115px;
}

#stratagems > * {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5.5px;
  height: 64px;
  width: 64px;
  display: inline-block;
}

@font-face {
  font-family: handelGothic;
  src: url("../font/Handel_Gothic_D_Bold.ttf")
}

h1, h2 {
  font-family: handelGothic;
  font-size: 18px;
  margin: 3px;
  text-shadow: 1px 1px 0px black;

  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  color: lightgray;
}

h2 {
  color: white;
}

#randomizer {
  height: 38px;
}

.button {
  line-height: 38px;
  text-align: center;
}
