body {
  background-image: url("../img/wallpaper_helldivers.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: black;
}

@font-face {
  font-family: "handelGothic";
  src: url("../font/Handel_Gothic_D_Bold.ttf");
}

.gothic {
  font-family: handelGothic;
  font-size: 18px;
  margin: 0.5em;
  text-shadow: 0.5px 1.5px 1px black;
  color: lightgray;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label {
  color: white;
  line-height: 180%;
  margin-left: 3%;
  position: absolute;
  top: 0;
}

.player {
  background: rgba(50, 50, 50, 0.8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.7));
  background: -o-linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.7));
  background: -moz-linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.7));
  background: linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.7));
  max-width: 25em;
  min-width: 15em;
  border: 2px solid black;
  margin: auto;
  box-sizing: border-box;
}

.player div{
  background-color: rgba(80, 80, 80, 0.7);
  width: 96%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: inherit;
}

.itemPic {
  width: 100%;
}

.itemWhide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.itemWhide:hover{
  background-color: rgba(211, 228, 15, 0.7);
}

.stratagems img {
  border: 2px solid rgba(0,0,0,0.5);
  margin: 1%;
  width: 23%;
  display: inline-block;
  size: inherit;
  box-sizing: border-box;
}

.stratagems img:hover {
  border: 3px solid rgba(211, 228, 15, 0.7);
}

.randomizer:hover{
  background-color: rgba(211, 228, 15, 0.7);
}

.button {
  text-align: center;
  position: relative;
}

.share {
  display: flex;
}

.share p {
  position: relative;
}
.share input {
  margin: 1em;
  width: 100%;
}
