<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="liber-coffee" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="liber-coffee" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="liber-coffee" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="liber-coffee" class="no-js"> <!--<![endif]-->
<head>
  <title>Liber-Coffee</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="LoadoutCtrl">
  <div class="player">
    <!--><ul class="playerPicker">
      <li class="playerIcon player1"><img src="svg/SH-20.svg" alt=""/></li>
      <li class="playerIcon player2"><img src="svg/SH-20.svg" alt=""/></li>
      <li class="playerIcon player3"><img src="svg/SH-20.svg" alt=""/></li>
      <li class="playerIcon player4"><img src="svg/SH-20.svg" alt=""/></li>
    </ul><!-->
    <p class="gothic">PERKS</p>
    <div class="itemWhide">
      <img class="itemPic" ng-click="rollPerk()" ng-src="svg/{{perk.img}}.svg"/>
      <p class="gothic label" ng-bind-template="{{perk.name}}"></p>
    </div>
    <p class="gothic">PRIMARY WEAPON</p>
    <div class="itemWhide">
      <img class="itemPic" ng-click="rollPrimary()" ng-src="svg/{{primary.img}}.svg"/>
        <p class="gothic label" ng-bind-template="{{primary.name}}"></p>
    </div>
    <p class="gothic">STRATAGEMS</p>
    <div class="stratagems">
      <div class="shade" ng-repeat="stratagem in stratagems"
           ng-style="{'background-color':'rgb('+stratagems[$index].color+')'}">
        <img ng-click="rollStratagem($index)"
             ng-src="svg/{{stratagems[$index].img}}.svg">
      </div>
    </div>
    <div class="randomizer"  ng-click="rollEverything()">
        <p class="gothic label button">RANDOMIZE</p>
    </div>
    <div class="share">
      <p class="gothic label">Share:</p>
      <input ng-model="url" onclick="this.select();" ng-blur="calcHash()">
    </div>
  </div>

  <script src="js/angular.js"></script>
  <script src="js/arsenal.js"></script>
  <script src="js/hash64.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
